.about {
    background-color: rgba(219, 161, 98, 0.25);
    font-family: "GloriaHallelujah";
    padding: 50px 50px 100px 50px;
    position: relative;
}

.aboutImageText {
    position: absolute;
    top: -110px;
    left: 450px;
    width: 100%;
    max-width: 375px;
    font-size: 12px;
    color: #521712;
    line-height: 24px

}

.aboutImage {
    width: 100%;
    max-width: 500px;
    opacity: 20%;
    position: absolute;
    top: -325px;
    left: -125px;
    overflow: hidden;
    z-index: -1;
}

.aboutImageArrow {
    position: absolute;
    top: -30px;
    left: 325px;
}

.aboutWrapper {
     display: flex;
     justify-content: center;
     gap: 100px
}

.aboutInfo {
    width: 100%;
    max-width: 815px;
}


.title {
     color: #521712;
     margin-bottom: 55px;
     padding-top: 50px;
     text-align: end;
}
.text {
    font-family: "HelveticaNeue";
    font-size: 16px;
    color: #483F55;
    text-align: justify;
}

.aboutImages {
    display: flex;
}

.aboutImages img {
     border-radius: 10px;
}

 .aboutImagesOne {
    width: 100%;
    max-width: 411px;
    margin-top: 85px;
    position: relative;
    z-index: 100;
 }

 .aboutImagesOne img, .aboutImagesTwo img {
    width: 100%;
 }

 .aboutImagesTwo {
     width: 100%;
     max-width: 320px;
     margin-top: 45px;
     margin-left: -30px;
 }

 .aboutImageBottom {
     position: absolute;
     bottom: 50px;
     right: 50px;
     width: 100%;
     max-width: 500px;
     z-index: 150;
 }

 .aboutImageTextBottom {
    color: #999A47;
    width: 100%;
    max-width: 265px;
    position: absolute;
    bottom: -50px;
    right: 480px;
    font-size: 12px;
    line-height: 24px
 }

 .aboutImageArrowBottom {
    position: absolute;
    bottom: 35px;
    right: 425px;
 }

 .strong {
    font-weight: bold;
 }

 @media (max-width: 1440px) {

    .about {
        padding-bottom: 50px;
    }

    .aboutInfo {
        max-width: 600px;
    }
 }

 @media (max-width: 1300px) {
    .aboutInfo {
        max-width: 500px;
    }   

    .aboutImageBottom {
         bottom: 260px;
    }

    .aboutImageArrowBottom {
        bottom: 215px;
        right: 375px;
       }

    .aboutImageTextBottom {
        bottom: 130px;
        right: 350px;
    }


}

 @media (max-width: 1025px) {
    .aboutWrapper {
        flex-direction: column;
        gap: 0px;
        align-items: center;
   }
   .aboutImageText {
    max-width: 245px;
   }

   .aboutImageBottom {
    right: 25px;
    bottom: 0px;
}

.aboutImageArrowBottom {
    bottom: 0px;
}

.aboutImageTextBottom {
    bottom: -40px;
    right: 450px;
}

 }


 @media (max-width: 575px) {

    .about {
        padding: 25px 25px;
    }
    .aboutImage {
         max-width: 200px;
         top: -240px;
         left: -85px;
     
    }

    .aboutImageArrow {
         top: -150px;
         left: 90px;
    }

    .aboutImageText {
         top: -175px;
         left: 190px;
         max-width: 150px;
         font-size: 8px;
         line-height: 14px;
    }

    .aboutWrapper {
         flex-direction: column;
         gap: 0px;
    }

    .title {
         font-size: 24px;
         text-align: center;
         padding-top: 0px;
         margin-bottom: 25px;
    }

    .text { 
        font-size: 12px;
    }

    .aboutImageBottom {
        max-width: 150px;
        right: 25px;
        bottom: 0px;
    }

    .aboutImageTextBottom {
        font-size: 8px;
        bottom: -40px;
        right:200px;
        max-width: 150px;
        width: 100%;
        line-height: 12px;
    }

    .aboutImageArrowBottom {
         right: 150px;
         bottom: -10px;
         max-width: 50px;
    }

    .aboutImagesOne img, .aboutImagesTwo img {
        height: auto;
        width: 100%;
     }
 }