.img_hovf {
  overflow: hidden;
}

.img_hover:hover {
  scale: 110%;
  transition: 0.5s;
}

.form-control:focus {
  color: #000000;
  box-shadow: 0 0 0 0rem rgba(255, 255, 255, 0.25);
  text-decoration: none;
}


/* ****************** Header ****************** */

.logo_con {
  margin-left: 2%;
}

.red_search_img {
  width: 30px;
  height: 30px;
}

.quote_product_modal .modal-content {
  width: 150%;
  margin-top: 20%;
  left: -30%;
}

/* ***********  users initial ********** */
.users_initial_dropdown:hover .users_dropdown, .users_dropdown:hover {
  display: block;
  z-index: 1000;
}

.users_initial_dropdown {
  float: left;
  overflow: hidden;
  align-self: center;
  
}

.mining_cart {
  margin-left: 2rem;
}

.users_dropdown {
  display: none;
  position: absolute;
  background-color: #DBA162;
  color: white;
  /* width: 120px; */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  text-align: left;
  border-radius: 5px;
  font-weight: bold;
  /* max-width: 100px; */
  font-family: "HelveticaNeue";
  padding: 5px 15px;
  /* top: 100px; */
}

.users_dropdown:hover {
   display: block;
}

/* *********      users initial Hexagon       ************ */

.Avtbox {
  position: relative;
  height: 75px;
  width: 75px;
  /* background-image: linear-gradient(#68D4FE, #1E4881); */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 1.5rem;
  text-transform: uppercase;
  background-image: url("/public/images/initials_background.png");
}

.Avtbox a {
   color: white;
}

/* .Avtbox,
.Avtbox:before {
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.Avtbox_users_initial {
  color: white;
  font-weight: 500;
}

.Avtbox_users_initial:hover {
  color: white;
} */

.Avtbox_admin {
  position: relative;
  height: 45px;
  width: 40px;
  background-image: linear-gradient(#62e75e, #035500);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #1e4881;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.Avtbox_admin,
.Avtbox_admin:before {
  -webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}


/* ***********  Cart dropdown ********** */
.cart_dropdown:hover .cart_dropdown_box {
  display: block;
}

.cart_dropdown {
  float: left;
  align-self: center;
}

.mining_cart {
  margin-left: 2rem;
}

.cart_dropdown_box {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 570px;
  right: 0;
  box-shadow: 2px 8px 16px 2px rgba(0, 0, 0, 0.4);
  z-index: 99;
}

.w3c_dropdown:hover .cart_dropdown_box {
  display: block;
}

.mining_cart {
  margin-left: 2rem;
}

.miningCart {
  position: relative;
}

.badge_quote {
  position: absolute;
  top: 15%;
  right: -5%;
  /* transform: translate(50%, -50%); */
  font-size: 0.6rem;
  font-family: "HelveticaNeue";
  background-color: #DBA162 !important;
}

/* *******  ******* */
.hd_bgc {
  /* background-image: url("../../public/images/headerBackground_5.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (max-width: 768px) {
  .hd_bgc {
    background-size: contain;
  }
}


.CTL_btn {
  background-color: #1e4881;
  border: #1E4881 solid 1px;
}

.CTL_btn:hover {
  border: #5c8dd1 solid 1px;
  background-color: #5c8dd1;
}


.hd_c {
  color: #483F55;
  font-weight: 400;
}

.hd_c:hover {
  color: #999A47;
  
}



.input_search {
  margin-left: 8%;
  width: 30%;
}


.w3c_dropdown:hover .users_dropdown {
  display: block;
}



/* ****** header LOIG hexagon ****** */
.hexagontext {
  width: 65%;
  height: 30%;
  margin-left: 10%;
}

.rotate {
  animation: rotation 4s linear;
  width: 15%;
  height: 15%;

}

.infinite {
  animation-iteration-count: infinite;
}

.rotate:hover {
  animation: normal;
}


.nav {
  margin-bottom: 0;
}

.dropdown {
  position: static;
}




.dropbtn a {
  font-size: 16px;
  color: white;
  text-align: center;
  text-decoration: none;
}

.dropdown-content-brand a {
  padding: 4px;
  text-decoration: none;
}



/* Show the dropdown menu on hover */
.w3c_dropdown:hover .dropdown-content {
  display: block;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  background-color: #011f49;
  height: auto;
  min-height: 100px;

}

/* Style links inside the columns */
.column a {
  float: none;
  color: #ffffff;
  padding: 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  padding: 0;
}
.subCat_visitor {
  float: none;
  color: #ffffff;
  padding: 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  padding: 0;
  font-size: large;
  font-weight: bolder;
  color: rgb(22, 220, 255);
}
.subCat_visitor:hover{
  cursor: pointer;
  color: rgb(22, 220, 255);
  text-decoration: underline;
}

/* Add a background color on hover */
.childCat a:hover,
.subCat>a:hover {
  text-decoration: underline;
}


.subCat a {
  font-size: large;
  font-weight: bolder;
  color: rgb(22, 220, 255);
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.column>li {
  /*   line-height: 0.1rem; */
  margin: 0.5rem;
  list-style-type: none
}

/* ****** multi level dropdown ****** */

.parent {
  display: block;
  position: relative;

}

.parent:hover>.child {
  display: list-item;
  position: absolute;
  width: 60%;

}

.parent:hover {
  background-color: #1e4881;
}

.parentA {
  width: 45%;
  float: left;
}

.parentA:hover {
  text-decoration: underline;
}

.child a {
  margin: 5px;
  text-decoration: none;
}

.child {
  display: none;
  background-color: #1e4881;
  z-index: 5;
  left: 40%;
}

.child li {
  width: 100%;
}

.child li a {
  color: #ffffff;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0px;
  min-width: 14em;
}

ul ul {
  left: 100%;
  top: 0;

}

li:hover {
  color: white;
}

.parent li:hover {
  text-decoration: underline;
}


/*********************COntainer*************************/
.content-container{
/* padding-bottom: 7rem; */
}

/* ****************** Footer ****************** */

.foot {
  position:absolute;
  bottom:0;
  width: 100%;
  height: 220px;
  background: #073474;
}

.foot a {
  max-width: max-content;
}

.first-col {
  padding-top: 15px;
  padding-left: 12%;
  font-weight: bolder;
  color: #ffffff;
  text-align: left;
}

.first-col h6 {
  text-decoration: underline;
}

.ft_c {
  color: white;
  font-weight: lighter;
}

.ft_c:hover {
  text-decoration: underline;
}

.footer-btns {
  display: flex;
  width: 100%;
  max-width: 100px;
  justify-content: space-between;
  padding-bottom: 10px;
  padding-top: 10px;
  position: relative;
}

.footer-btns svg {
  width: 20px;
  height: 20px;
  color: white;
  cursor: pointer;
}

.linkedin svg {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.pagination_productlist {
  width: 70%;
}

.pagination_productlist {
  font-size: 0.5rem;
  /* Adjust the font size as needed */
}

.pagination_productlist .page-link {
  padding: 0.1rem 0.5rem;
}



/* *************    Cart 购物车加减    ************* */
.btn-group {
  box-shadow: none;
}

.btn-group:hover {
  box-shadow: none;
}

.btn_jj {
  border: none;
  background-color: transparent;
}

/* *********      Scroll To Top Button       ************ */
.scroll-to-top {
  position: fixed;
  bottom: 20%;
  right: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.bi-arrow-up-circle-fill.visible {
  opacity: 1;
}


.bi-arrow-up-circle-fill {
  font-size: 35px;
  color: #1e4881;
  background-color: white;
}

.bi-arrow-up-circle-fill:hover {
  color: white;
  background-color: #1e4881;
}



/* *************** responsive part *************** */
.user_cart {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin-right: 5rem;
}


.users_initial_dropdown:hover .users_dropdown {
  display: block;
}


.mining_cart {
  margin-left: 2rem;
}


@media (min-width: 340px) and (max-width: 500px) {

  .logo_con {
    width: 300px !important;
    margin: 0 auto;
    padding-top: 20px;
  }

  .input_search {
    display: flex;
    width: 100%;
    flex-direction: row;
    margin-left: 0px;
  }

  .user_cart {
    flex-direction: row;
    margin-right: 0px;
    margin-bottom: 20px;
  }

  .users_dropdown {
    right: 0;
  }
  
  .cart_dropdown:hover .cart_dropdown_box {
    display: none;
  }

  .quote_product_modal .modal-content {
    width: 100%;
    max-width: 350px;

    left: 0;
    margin:  0 auto;
  }
  
  
}