.team {
    background-color: rgba(219, 161, 98, 0.25);
    padding: 50px 70px 100px 70px;
    font-family: "GloriaHallelujah";
}

.title {
    color: #521712;
    margin-bottom: 55px;
    padding-top: 50px;
}

.teamInfo {
     display: flex;
     justify-content: center;
     gap: 125px;
}

.card {
    background-color: rgba(219, 161, 98, 0.2);
    border-radius: 5px;
    width: 100%;
    max-width: 815px;
    padding: 25px 25px;
    position: relative;
    overflow: hidden;
    height: fit-content;
}

.emblem {
    position: absolute;
    top: 0;
    right: -125px;
    width: 250px;
    opacity: 50%;
}

.name {
     font-size: 24px;
     color: #521712;
}

.role {
     font-family: "HelveticaNeue";
     font-size: 20px;
     margin-bottom: 10px;
}

.info {
    display: flex;
    gap: 50px;
    font-family: "HelveticaNeue";
    margin-bottom: 25px;


}

.infoWrapper {
     display: flex;
     flex-direction: column;
     justify-content: space-between;
}

.photo{
    width: 100%;
    max-width: 250px;
}

.photo img {
    width: 100%;
}

.biographyItems {
    display: flex;
    flex-direction: column;
    font-family: "HelveticaNeue";
}

.biographyItem {
    font-size: 16px;
    display: flex;
    gap: 5px;
    width: 100%;
    max-width: 325px;
}

.logoTag {
    width: 25px;
    height: 25px;
}

.icon {
    width: 30px;
    height: auto;
    margin-right: 5px;
}

.contactEmail {
     padding-bottom: 10px;
}

.card:nth-of-type(2) {
    margin-top: 150px;
}


@media (max-width: 1440px) {
   .teamInfo {
    gap: 25px;
   }

   .info {
    gap: 15px;
   }
   
   }

@media (max-width: 1300px) {
 .info {
     flex-direction: column;
 }

}

@media (max-width: 1025px) {
    .teamInfo {
        flex-direction: column;
        gap: 0px;
        align-items: center;
    }

    .info {
        flex-direction: row;
    }

    .card:nth-of-type(2) {
        margin-top: 25px;
    }
}

@media (max-width: 575px) {
    .team {
        padding: 50px 25px 25px 25px;
    }

    .title {
        font-size: 24px;
        padding-top: 25px;
        margin-bottom: 25px;
        text-align: center;
    }

    .teamInfo {
        flex-direction: column;
        gap: 0px;
    }

    .name {
        font-size: 20px;
    }

    .role {
        font-size: 16px;
    }

    .card {
         padding: 10px 25px;
    }

    .emblem { 
        width: 150px;
        right: -45px;
    }

    .info { 
        flex-direction: column;
        gap: 10px;
        margin-bottom: 10px;
    }


    .infoWrapper {
        font-size: 12px;
    }

    .biographyItems {
         gap: 0px;
         align-items: center;
         margin-bottom: 10px;
    }

    .biographyItem {
         font-size: 12px;
         align-items: center;
    }

    .card:nth-of-type(2) {
        margin-top: 25px;
    }

    .icon {
         width: 15px;
    }

    .photo {
         margin:  0 auto;
    }
}
