/* Chrome, Safari, Edge, Opera */
.requestForm input::-webkit-outer-spin-button,
.requestForm input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.requestForm input[type=number] {
  -moz-appearance: textfield;
}

.contacts {
    font-family: "GloriaHallelujah";
    font-size: 20px;
    background-color: rgba(219, 161, 98, 0.25);
    padding: 0px 50px 150px 50px;
    position: relative;
    overflow: hidden;
}


.backgroundEmblem {
 position: absolute;
 width: 600px;
 bottom: 0;
 right: -300px;  
}

.contactsAcknowledgementWrapper {
    background-color: rgba(219, 161, 98, 0.25);
    border-top:  2px solid #999A47;
    padding: 50px 50px 300px 50px;
    font-weight: bold;
}

.contactsAcknowledgement{
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.logoTaglineWrapper {
    display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
}

.logo {
    margin: 0 auto;
    width: 100%;
    max-width: 300px;
}

.tagline{
    font-size: 16px;
    color: #483F55;
    margin-top: -10px;
}

.acknowledgement {
    font-family: "HelveticaNeue";
    text-align: center;
    width: 100%;
    max-width: 1250px;
    color: #483F55;
    font-size: 20px;
}

.title {
    font-family: "GloriaHallelujah";

    color: #521712;
    margin-bottom: 25px;
    text-align: center;
}

.subtitle { 
    font-family: "HelveticaNeue";
    color: #483F55;
    text-align: center;
    margin-bottom: 50px;
    
}

.requestForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    justify-content: center;
    max-width: 735px;
    background-color: #999A47;
    border-radius: 16px;
    padding: 25px 50px;
    margin:0 auto;
    font-family: "HelveticaNeue";
    color: #483F55;
}

label {
    font-family: "HelveticaNeue";
    font-weight: bold;
    font-size: 16px;
    color: #521712;
    text-align: start;
}

.requestForm input, .requestForm textarea {
    width: 100%;
    max-width: 633px;
}

.requestForm input {
    border-radius: 10px;
     border: none;
     padding: 5px 0px 5px 15px;
     color: #483F55;
}

.requestForm input::placeholder, .requestForm textarea::placeholder {
    font-size: 14px;
    font-family: "HelveticaNeue";
    color: #483F55;
}

.requestForm textarea {
    border-radius: 16px;
     border: none;
     padding: 15px 0px 5px 15px;
     color: #483F55;
}

.newRequestFormBtn {
    border: 1px solid #521712;
    font-family: "HelveticaNeue";
    background-color: #521712;
    color: white;
    font-size: 16px;
    text-align: center;
    padding: 10px 10px;
    border-radius: 10px;
    width: 100%;
    max-width: 220px;
    margin-top: 15px;
}

.newRequestSent {
     text-align: center;
     color: #483F55;
}

.newRequestFormBtn:hover {
     background-color: transparent;
     color:#521712;
     border: 1px solid #521712;
}


@media (max-width: 1025px) {
    .tagline {
         text-align: center;
    }
    .requestForm {
         position: relative;
         z-index: 2;
    }

    .contactsAcknowledgementWrapper {
        padding-bottom: 350px;
    }
}

@media (max-width: 575px) {
    .contacts {
        padding: 0px 25px 25px 25px;
    }
    .contactsAcknowledgement {
         flex-direction: column;
         gap: 25px;
         align-items: center;
         padding-bottom: 50px;
    }

    .logoTaglineWrapper {
         text-align: center;
    }

    .logo {
        max-width: 200px;
    }

    .tagline {
         font-size: 12px;
    }

    .acknowledgement {
        max-width: 320px;
        font-size: 14px;
    }

    .title { 
        font-size: 24px;
        margin-bottom: 10px;
    }

    .subtitle {
         font-size: 14px;
         margin-bottom: 25px;
    }

    .backgroundEmblem {
         display: none;
    }

    .requestForm {
        padding: 10px 15px;
        gap: 5px;
    }

    .requestForm label {
        font-size: 14px;

    }

    .requestForm input {
         padding: 0px 0px 2px 10px;
    }

    .requestForm textarea {
        padding: 5px 0px 0px 10px;
   }

   .newRequestFormBtn {
     font-size: 12px;
     padding: 10px 0px;
     max-width: 150px;
   }

   .requestForm  input::placeholder {
    font-size: 12px;
   }

   .requestForm  textarea::placeholder {
    font-size: 12px;
   }

   .contactsAcknowledgementWrapper {
     padding-bottom: 450px;
   }

}
