.UserOrderDetailsPageTitle {
padding-left: 20px;
padding-top: 10px;
text-decoration: underline;
}

.orderDetailPageMobileProductItem {
    padding: 10px 20px;
    font-size: 12px;
}

.orderDetailPageMobileProductWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

.orderDetailPageMobileProduct {
    display: flex;
    align-items: center;
    gap: 10px;
}

.orderDetailPageMobileProductName {
    font-size: 12px;
    width: 100%;
    max-width: 150px;
}

.orderDetailPageMobileImage {
    width: 100%;
    max-width: 50px;
    height: auto;
}

.orderDetailPageMobileDataProduct {
    font-size: 12px;
}

.orderDetailPageMobileProductItemQuantity {
    display: flex;
    gap: 10px;
}

.orderDetailPageMobileProductItemQuantity input {
    font-size: 12px;
    margin-top: 2px;
}

.UserOrderDetailsPageComponentSummary {
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
    margin-top: 20px;
    font-size: 14px;
}

.UserOrderDetailsPageComponentSummary h5 {
    font-size: 14px;
    margin: 0px;
    padding: 0px;
}

.reorderBtn {
    font-size: 12px;
    padding: 5px 10px;
}

.title {
    font-family: "GloriaHallelujah";
    color: #483F55; 
}

.btnMyOrders {
 background-color: #521712;
 color: white;
 padding: 5px 10px;
 border: none;

}

.btnMyOrders a {
     color: white;
}

.btnMyOrders:hover {
    background-color: transparent;
    color: #521712;
}

.btnMyOrders:hover a {
    color: #521712;
}

@media (max-width: 1025px) {
    .UserOrderDetailsPageComponentSummary {
        margin-left: 25px;
    }

    .UserOrderDetailsPageTitle {
        font-family: "GloriaHallelujah";
        padding-bottom: 25px;
        padding-top: 25px;
        color: #483F55;
    }

    .userOrderDetailPage {
         padding-bottom: 400px;
    }

    .orderDetailPageMobileProductItem{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 25px;
    }

    .orderDetailPageMobileProductWrapper {
         width: 100%;
         max-width: 350px;
    }
    }

    @media (max-width: 575px) {
        .UserOrderDetailsPageComponentSummary {
            margin: 0 auto;
        }

        .UserOrderDetailsPageTitle {
            font-family: "GloriaHallelujah";
            color: #483F55;
            padding-bottom: 5px;
            padding-top: 10px
        }

        .orderDetailPageMobileProductItem, .UserOrderDetailsPageComponentSummary {
             color:#483F55 !important;
        }
        
        .userOrderDetailPage {
            padding-bottom: 500px;
       }

       .orderDetailPageMobileProductItem{
        display: block;
    }
        }
