.accordion_container {
    line-height: 1.5rem;
}

.accordion-header>a {
    display: block;
    text-align: left;
    font-weight: bold;
    box-shadow: none;
    line-height: 1rem;
    color:#ffffff;
    font-family: "GloriaHallelujah";
    color: white;
    background-color: #999A47;
    font-size: 24px;
    padding: 15px 15px;

}

.accordion-header {
    background-color: transparent;
    margin-top: 0.5rem;
}

.accordion-header:hover {
    background-color: #DBA162;
    color: white;
    border-radius: 5px;
}

.accordion-body {
    font-family: "HelveticaNeue";
    font-size: 16px;
    color: #483F55;
}

.subCatFilter {
    list-style-type: none;
    padding: 5px 5px;
}

.subCatFilter>a {
    color: #DBA162;
    font-size: medium;
}


.subCatFilter:hover a{
    color: #521712;
}

.activeLabel>a {
    color: #521712;
}


.hideit {
    display: none;
}

.breadCB {
    margin-top: 1%;
    margin-left: 1%;
}

.breadcrumb {
margin-bottom: 0;
}

.active>a {
    color: #1e4881;
}

.active {
    color: #1e4881;
}
.active a:hover {
    text-decoration: underline;
}

.Highlight {
    color: gray;    
    cursor: text;
    pointer-events: none;
    opacity: 0.99;
}

.notActive {
    pointer-events: none;
    color: gray;
    text-decoration: none;
    cursor: not-allowed;
    opacity: 0.5;
}


@media (max-width: 1440px) {
.subCatFilter a {
    font-size: 14px;
}
}

@media (max-width: 480px) {
    .breadCB {
        font-size: 12px;
    }

    .accordion_container .accordion .accordion-body a {
        font-size: 12px !important;
    }

    .accordion_container .accordion .accordion-body {
        padding: 15px 15px;
    }

    .accordion_container .accordion .accordion-header a {
        font-size: 14px;
    }
}