.invoicePDF {
    display: none;
}

.hiden {
    display: none;
}

.Re_Order_Modal {
    position: fixed;
    top: 20%;
}

.showingout {
    animation: showingout 1s;
}

.mobile {
    display: none;
}

.mobile-visibility {
    display: none;
}

@keyframes showingout {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.3;
    }

    100% {
        opacity: 1;
    }
}

.button-shadow {
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
    transition: all 0.5s ease-out;
}

.reorder-button {
    animation: flyout 1s forwards;
}

@keyframes flyout {
    0% {
        opacity: 1;
        transform: translate(0, 0);
    }

    50% {
        opacity: 0.5;
        transform: translate(90vw, -260vh);
    }

    100% {
        opacity: 0;
        transform: translate(140vw, -520vh);
    }
}

.cart_detail_right {
    margin-top: 0.7rem;
}

.empty_cart_btn {
    border-radius: 0;
    background-color: #1e4881;
    border: 1px solid #1e4881;
    color: white;
    float: right;
}

.empty_cart_btn:hover {
    color: #1e4881;
    border: 1px solid #1e4881;
    background-color: white;
}


.download_cart_btn {
    color: white;
    border-radius: 0;
    margin-right: 0.5rem;
}

.download_cart_btn:hover {
    color: #1e4881;
    border: 1px solid #1e4881;
    background-color: white;
}

.edite_order_name .modal-content {
    margin-top: 60%;
}

.add_ownership .modal-content {
    margin-top: 60%;
}

.User_Quote_List_Tabs .nav-link.active {
    background-color: #1e4881;
    font-weight: bold;
    color: #fff;
    box-shadow: inset 0 0 0 1px #1e4881;
}

.User_Quote_List_Tabs .nav-link {
    font-weight: bold;
    color: #1e4881;
    background-color: rgb(243, 243, 243);
    box-shadow: inset 0 0 0 1px #d2dce6;
}

.navbar-nav .nav-link.active {
    background-color: #5c8dd1;
    font-weight: bold;
    color: #fff;
}

.navbar-nav .nav-link {
    font-weight: bold;
    color: #1e4881;
}

.navbar-nav .nav-link:hover {
    font-weight: bold;
    background-color: #b0c1d8;
    color: #1e4881;
}


.user_side_nav {
    width: 100%;
}

.user_side_navBar {
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
    background-color: rgb(243, 243, 243);
}

.user_side_navBar .nav-link {
    width: 175px;
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.user_side_nav {
    width: auto;
}

.admin_side_navBar {
    width: fit-content;
    margin-right: auto;
    margin-left: 0;
    border-radius: 10px;
    background-color: rgb(243, 243, 243);
}

.admin_side_navBar .nav-link {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.userCartDetailPage {
    background-color: rgba(219, 161, 98, 0.25);
    padding: 50px 50px 350px 50px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    font-family: "HelveticaNeue";
}

.userCartDetailPageWrapper {
     width: 100%;
     max-width: 1600px;
     gap: 50px;
}

.cartDetailTitle {
        font-family: "GloriaHallelujah";
        font-size: 40px;
        color: #483F55;
        margin-bottom: 25px;
}

.userCartDetailPage .cart-items-list .list-group-item {
    background-color: rgba(219, 161, 98, 0.25) !important;
    display: flex;
}

.admin-cart-details-page .cart-items-list .list-group-item {
    background-color: rgba(219, 161, 98, 0.25) !important;
}

.admin-cart-details-page .cart-items-list .list-group-item strong {
    color: #483F55;
    font-weight: 500;
}

.admin-cart-details-page .form-control-container input {
     border-color: #DBA162 !important;
}

.admin-cart-details-page i {
     color: #483F55;
}


.cart-item-row {
    color: #483F55 !important;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.cart-item-row a {
    color: #483F55 !important;
}

p {
     margin-bottom:  0px;
}

.form-control-light {
     background-color: transparent;
     border-color: #483F55;
}

.remove-btn {
    background-color: transparent;
}

.remove-btn:hover {
     border-color: #DBA162;
     background-color: #DBA162  ;
}

.download_cart_btn_wrapper {
    background-color: #999A47;
    border: 1px solid transparent;
    color: #521712;
    font-size: 12px;
}

.empty_cart_wrapper {
    background-color: #999A47;
    border: 1px solid transparent;
    color: #521712;
    font-size: 12px;
}

.empty_cart_wrapper:hover {
    background-color: transparent;
    border-color: #483F55;
    color: #483F55;
}

.download_cart_btn_wrapper:hover {
    background-color: transparent;
    border-color: #483F55;
    color: #483F55;
}

.cart_detail_right {
    color: #483F55 ;
}

.cart_detail_right .list-group .list-group-item {
    background-color: transparent !important;
    color: #483F55 !important;
}

.cart_detail_right-title {
    padding: 10px 10px;
    color: #483F55;
    font-family: "HelveticaNeue";
    font-weight: bold;
}

.address-title {
    padding: 10px 10px;
    color: #483F55;
    font-family: "HelveticaNeue";
    font-weight: bold;
}

.confirm-btn {
    background-color: #999A47 !important;
    border: 1px solid transparent !important;
    color: #521712 !important;
}

.confirm-btn:hover {
    background-color: transparent !important;
    border: 1px solid #483F55 !important;
    color: #483F55 !important;
}

.btn-add-address, .btn-change-address, .save-new-address-btn {
     background-color: #521712;
     border: none;
}

.btn-add-address:hover, .btn-change-address:hover, .save-new-address-btn:hover {
    background-color: #483F55;
}

.cart_detail_right_input{
    background-color: transparent;
    border-color: #521712;
    color: #483F55;
}

.preview-order-table {
     background-color: rgba(219, 161, 98, 0.25);
}


@media (max-width: 1100px) {
.empty_cart_wrapper {
     font-size: 10px;
}
}

@media (max-width: 1025px ) {
     .userCartDetailPageWrapper {
         flex-direction: column;
     }

     .cart_detail_right {
         width: 100%;
     }

     
    .cart-item-row {
        margin:  0 auto;
   }

   .mobile {
    display: block;
}

.desktop {
     display: none;
}

.mobile-visibility { 
    display: block;
}

.cart_detail_btns_email_download {
    justify-content: space-between;
    width: 100%;
}


}

@media (max-width: 575px) {

    .cartDetailTitle {
         text-decoration: underline;
    }

    .mobile-visibility {
        display: block;
    }
    .noQuotesFoundText {
        font-size: 14px !important;
    }

    .userCartDetailPage  {
        font-size: 12px;
        width: 100%;
        padding: 25px 15px 450px 15px;
    }

    .userCartDetailPage h1,  .userCartDetailPage h4 {
        font-size: 18px
    }

    /* .userCartDetailPage .cart-items-list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 5px;
        justify-content: center;
    }

    .userCartDetailPage .cart-item {
        width: 49%
    }
    .userCartDetailPage img {
        width: 100%;
        max-width: 150px;
    }

    .userCartDetailPage p {
        margin-bottom: 0px;
    }

    .userCartDetailPage .form-control-container {
         width: 100%;
         max-width: 150px;
         margin:  0 auto;
    }

    .userCartDetailPage .remove-from-cart{
        width: 100%;
        max-width: 150px;
        margin:  0 auto;
        margin-top: 10px;

    } */

    .userCartDetailPage button,
    .userCartDetailPage a,
    .userCartDetailPage .input-group-text,  .userCartDetailPage .form-control {
        font-size: 10px;
    }

    .userCartDetailPage .cart_detail_right {
         margin-top:  0px;
    }

    .userCartDetailPage .list-group-item{
        padding: 10px 5px;
        margin-top: 0px !important;
        padding-bottom: 10px;
    }

    .email_cart_btn_wrapper {
        justify-content: flex-start !important;
        margin-left: -12px;
        max-width: 100px !important;
    }

    .download_cart_btn_wrapper {
        max-width: 150px !important;
    }

    .userCartDetailPage .cart-item-row div {
        width: auto;
        font-size: 10px;
        padding: 5px 0px !important;
    }

    .userCartDetailPage .cart-item-row .form-control-container {
        width: 100%;
        max-width: 50px;
        padding: 0px 0px !important;
    }
    .cart-item-row {
         margin:  0px;
         display: flex;
         width: 100%;
         justify-content: space-between;
    }

    .userCartDetailPage img {
        width: 100%;
        max-width: 25px;
    }

    .userCartDetailPage .cart-item-row .remove-from-cart {
        /* width: 100%;
        max-width: 25px; */
    }

    .userCartDetailPage .cart-item-row a p {
        font-size: 10px;
        width: 100%;
        max-width: 100px;
        text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap; 
        /* height: 50px; */

    }

     .cart-item-product-name {
        width: 110px !important;
     }

     .cart-item-product-price-quantity {
        width: 110px !important;
     }

}





