.userProfilePageComponentWrapper {
    padding-bottom: 300px;
}

.userProfilePageComponent {
    background-color: #999B37;
    width: 100%;
    padding: 50px 50px;

    display: flex;
    justify-content: center;
    position: relative;
}

.imageBackground {
     position: absolute;
     width: 442px;
     right: 0;
    bottom: 0;
     z-index: 0;
}

.userProfilePageComponentContent {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    z-index: 1;
}

.title {
    font-family: "GloriaHallelujah";
    font-size: 40px;
    color: #483F55;
    margin-bottom: 50px;
    text-decoration: underline;
}

.updateBtn {
    background-color: #521712;
    border: none;
    width: 100%;
    max-width: 100px;
    margin-bottom: 15px;
}

.updateBtn:hover {
    background-color: #483F55;
}

.notification {
    font-family: "HelveticaNeue";
    color: white;
}

.userProfilePageComponent  label {
     color: #483F55;
     font-family: "HelveticaNeue";
}

.disabledInput {
    background-color: rgba(72, 63, 85, 0.5) !important;
    border: none !important;
}

.userNavBarLinks {
     background-color: transparent !important;
     display: flex !important;
    justify-content: center !important;
    padding-top: 25px;
}

.userNavBarLinksWrapper {
    width: 100% !important;
    max-width: 1600px !important;
    gap: 50px !important;
}

.navLink {
     background-color: transparent !important;
     color: #521712 !important;
     font-family: "GloriaHallelujah" !important;
     font-size: 24px !important;
}

.active {
    color: #DBA162 !important;

}

.navLink:hover {
     color: #DBA162 !important;
}

.tagImage {
     width: 25px;
     margin-right: 10px;
}

.userProfilePageComponentContent label {
    color:#521712;
}


@media(max-width: 1025px) {
    .userProfilePageComponent {
        padding: 25px 25px;
        width: 100% !important;
    }

    .notification {
        margin-top: 25px;
        padding: 0px 0px;
   }

}


@media(max-width: 480px) {
    .userProfilePageComponentWrapper {
        margin: 0px 0px !important;
        padding-bottom: 500px;
    }

    .userProfilePageComponent {
        padding: 25px 25px;
        width: 100% !important;
    }

    .userProfilePageComponent h1 {
        font-size: 18px;
        margin-bottom: 25px;
    }

    .userProfilePageComponent input, .userProfilePageComponent div {
        width: 100% !important;
    }

    .userProfilePageComponent div {
        padding: 0px;
        margin:  0 auto;
    }

    .userQuotesPageWrapper tbody {
        font-size: 11px !important;
    }

    .userQuotesPageWrapper {
        margin: 0px 0px !important;
        font-size: 12px;
    }

    .userQuotesPageWrapper h1 {
        font-size: 18px;
    }

    .userNavBarLinksWrapper {
         gap: 0px !important;
         flex-wrap: wrap;
         justify-content: space-around;
    }

    .navLink {
         font-size: 20px !important;
    }

    .imageBackground {
        width: 150px;
    }

    .notification {
         font-size: 14px;
         margin-top: 10px;
         padding: 0px 0px;
    }


}
