.passwordChangeWrapper {
     background-color: #999A47;
     width: 100%;
     padding: 50px 150px;
     position: relative;
}

.emblem {
     position: absolute;
     bottom: 25px;
     right: 50px;
     width: 150px;
}

.title {
    font-family: "GloriaHallelujah";
    font-size: 40px;
    color: #483F55;
    margin-bottom: 50px;
}

.text {
     font-family: "HelveticaNeue";
     color: white;
}

.changeBtn {
     background-color: #521712;
     border: none;
}

.changeBtn:hover {
    background-color: #483F55;
}

@media (max-width: 1025px)  {
     .text {
          margin-bottom: 25px;
    }
}

@media (max-width: 575px) {
     .passwordChange {
           padding-bottom: 450px;
     }
     
     .title {
          font-size: 22px;
          margin-bottom: 25px;
     }
     .passwordChangeWrapper {
           padding: 25px 25px 25px 25px;
           font-size: 14px;
           overflow: hidden;
     }

     .emblem {
           width: 100px;
           right: -50px;
           bottom: 0px;
     }

     .text {
           margin-bottom: 25px;
           font-size: 12px;
     }
}
