.ordersWrapper { 
    padding: 50px 150px;
    font-family: "HelveticaNeue";
    color:#483F55
}

.ordersPageWrapper {
    padding-bottom: 200px;
}


.searchPaginationWrapper {
    width: 100%; 
    display: flex;
    justify-content: space-between;
    padding: 25px 0px;
} 

.title {
    font-family: "GloriaHallelujah";
    font-size: 40px;
    color: #483F55;
    text-decoration: underline;
}

.ordersTable {
     color: #483F55;
}



.orderRow:nth-child(odd) {
    background-color: rgba(219, 161, 98, 0.25);
  }
  
  .orderRow:nth-child(even) {
    background-color: rgba(153, 154, 71, 0.25); 
  }

  .userOrdersMobile {
     display: none;
  }
  

  @media (max-width: 1025px) {
    .userOrdersMobile {
        display: block;
     }

     .ordersTable {
         display: none;
     }

     .userOrdersMobileInfo {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .userOrdersMobileInfo a {
        color:#DBA162 !important;
    }

    .ordersPageWrapper {
        padding-bottom: 300px;
    }
  }


@media (max-width: 575px) {
    .ordersPageWrapper {
         padding-bottom: 450px;
    }

    .searchPaginationWrapper .form-control {
         font-size: 10px !important;
    }

    .desktop {
         display: none;
    }

    .ordersWrapper {
         padding: 0px 25px 25px 25px;
    }

    .title {
         font-size: 22px;
         padding-top: 25px;
    }

    .userOrdersMobile {
        display: block;
     }

    .userOrdersMobileWrapper {
        margin-top: 15px;
        margin-bottom: 20px;
    }
    .userOrdersMobileWrapper h5 {
        padding-left: 20px;
    }
    
    .userOrdersMobileTabs {
        font-size: 12px;
        padding-left: 20px;
    }
    
    .userOrdersMobile {
        padding: 0px 10px;
    }
    
    .userOrdersMobileData {
     font-size: 13px;
     font-weight: bold;
     letter-spacing: 1px;
     padding-bottom: 5px;
    }
    
    .userOrdersMobileInfo {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .userOrdersMobileStatus {
        font-size: 12px;
        letter-spacing: -0.2px;
        font-weight: bold;
        text-transform: uppercase;
        margin-top: 2px;
    }
    
    .userOrdersMobileStatusShipped {
        display: flex;
        align-items: center;
        color:  darkgreen;
        gap: 5px;
    }
    
    .userOrdersMobileStatusNonShipped {
        display: flex;
        align-items: center;
        color:  red;
        gap: 5px;
    }
    
    .userOrdersMobileStatusViewDetails {
        font-size: 12px;
        align-self: end;
    }
    
    .userOrdersMobileSearch {
        width: 100%;
        margin-top: 10px;
    }
    
    .userOrdersMobileSearch input {
        width: 100% !important;
        max-width: 300px !important;
        margin:  0 auto;
    }
    
    .userOrdersMobilePagination {
        margin-top: 10px;
        display: flex;
        justify-content: center;
    }
    
    .userOrdersMobilePagination ul {
        justify-content: center;
    }
    
    .userOrdersMobilePoStatus {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5px;
    }
    
    .userOrdersMobileMenu {
        width: 90%;
        margin: 0 auto;
    }
    
    .userOrdersMobileInfo a {
        color:#DBA162 !important;
    }
    
}

