.partners {
    background-color: rgba(219, 161, 98, 0.25);
    padding:  50px 50px 300px 50px;
}

.title {
    color: #521712;
    margin-bottom: 50px;
    text-align: center;
    font-family: "GloriaHallelujah";
}

.partnersLogoWRapper {
     display: flex;
     justify-content: center;
     gap: 100px;
}

.imgOne {
    max-width: 500px;
    width: 100%;
}

.imgTwo {
    max-width: 150px;
    width: 100%;
}
.imgThree {
    max-width: 500px;
    width: 100%;
}