.footer {
    background-color: #DBA162;
    font-family: "GloriaHallelujah";
    font-size: 20px;
    position: relative;
    padding: 50px 25px 25px 25px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    /* display: flex;
    justify-content: center; */
    color: #521712;

}

.footerWrapper {
     display: flex;
    justify-content: center;
    flex-direction: column;
}

.footer h6 {
      text-decoration: underline;
}

.logoPlant {
    width: 100%;
    max-width: 300px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.footerLinks {
     display: flex;
     justify-content: space-between;
     /* align-items: center; */
     /* gap: 25px; */
     width: 100%;
     max-width: 1440px;
     margin:  0 auto
}

.copyright {
      text-align: center;
      padding-top: 25px;
      font-size: 14px;
}

.logoWrapper {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.logo {
     width: 100%;
     max-width: 170px;
}

.footerContent {
 display: flex;
}

.tagline {
      font-size: 12px;
      margin-top: -10px;
      color:#483F55;
}

@media (max-width: 1024px) {
     .footer {
          padding: 25px 25px;
     }
     .footerLinks {
          gap: 20px;
          flex-wrap: wrap;
          width: 100%;
          max-width: 600px;
     }

     .logoPlant {
          max-width: 300px;
      }
}

@media (max-width: 575px) {
    .footer {
         padding: 10px 25px;
    }
    .logoPlant {
         max-width: 150px;
    }

    .footerLinks {
         font-size: 12px;
         gap: 5px;
         flex-direction: column;
         justify-content: flex-start;
         align-items:  flex-start;
    }

    .footerContent {
     flex-direction: column-reverse;
     justify-content: flex-start;
    }

    .copyright {
     padding-top: 0px;
    }

    .copyright {
      padding-top: 15px;
    }
}

