.footer {
    background-color: #DBA162;
    font-family: "GloriaHallelujah";
    font-size: 20px;
    position: relative;
    padding: 25px 0px 25px 400px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

}

.logoPlant {
    width: 100%;
    max-width: 415px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.footerLinks {
     display: flex;
     gap: 70px;
}

@media (max-width: 575px) {
    .footer {
         padding: 10px 25px;
    }
    .logoPlant {
         max-width: 150px;
    }

    .footerLinks {
         font-size: 12px;
         gap: 10px;
         flex-direction: column-reverse;
         justify-content: flex-end;
         align-items: flex-end;
    }
}

