.card_title{
    background-color: rgb(192, 192, 192);
    padding-top: 1rem;
}
.card_title_1{
    background-color: rgb(192, 192, 192);
    padding-top: 0.5rem;
}
.input_controller{
    width: 70%;
    margin-bottom: 10px;
}
.label_controller{
    font-size: large;
    font-weight: bold;
}
.label_group{
    border-bottom-width: 1;
    border-bottom-style: solid;
    margin-right: 1rem;
    padding-top: 1rem;
}
/*----------------------*/

.value-label{
    rotate: 90deg;
}

.container .bar-group {
  transition: opacity 0.3s;
}



