@font-face {
  font-family: "GloriaHallelujah";
  src: local("GloriaHallelujah"), url("./fonts/GloriaHallelujahRegular.ttf") format("truetype");
}

@font-face {
  font-family: "HelveticaNeue";
  src: local("HelveticaNeue"),  url("./fonts/HelveticaNeueRoman.otf") format("truetype");
}

.swiper-button-prev, .swiper-button-next {
   color: #483F55 !important;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  color: #DBA162 !important;
}


a {
  text-decoration: none;
}

ul {
   margin: 0px 0px;
   padding: 0px 0px;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.active>.page-link, .page-link.active{
   background-color: #521712 !important;
   border: 1px solid #521712 !important;
}

.page-link {
  color:#521712;
}

.page-link:focus {
  color:#521712;
  box-shadow: none;

}

.modal-header {
   border-bottom: none !important;
   padding: 10px 10px 0px 5px !important;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.container
{
  text-align: justify;
}
.terms-ul{
  margin:0;
  padding:0 20px;
  list-style: disc;
} 
.terms-ul li    {
  padding:0;
  margin:10px 0;
}
.terms-ul li:hover {
	color: rgb(0, 0, 0);
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.LoginForm {
  width: 40%;
  margin-left: 30%;
}

.RegisterForm {
  width: 40%;
  margin-left: 30%;
}

 .LoginRegPage {
  z-index: 1000;
  margin-top: -5%;
  padding: 0px 0px !important;
}

.LoginReg{
  border-width: 0;
}

.card {
  margin-top: 25px;
  display:flex;
  /* background-color: #999A47; */
  background-color: rgba(153, 154, 71, 0.7);
}

.flex-row{
display:flex;
justify-content: center;

}

.img_hovf {
  overflow: hidden;
  border: 1px solid #DBA162;
}

.img_hover:hover {
  scale: 110%;
  transition: 0.5s;
}
li:hover {
	color: rgb(0, 0, 0);
}

@media print {
  @page { size: landscape; }
}


.nav-link {
   background-color: #999A47 !important;
   border-bottom: 1px solid white !important;
   color: #483F55 !important;
}

.footer .nav-link {
  background-color: transparent !important;
  font-family: "HelveticaNeue";
  border: none !important;
  font-size: 16px !important;
}

.ft_c:hover {
   color: white !important;
   text-decoration: underline;
}

.admin-links .nav-link {
  background-color: transparent !important;
}

.admin-links .navbar-nav .nav-link.active {
  background-color: #999A47 !important;
  color: #fff !important;
}

.privatepolicy { 
  padding-bottom: 350px;
}

.terms-conditions{
  padding-bottom: 350px;
}

@media (max-width: 575px) {
  .swiper {
       padding: 0px 0px !important;
  }

  .swiper-grid-column > .swiper-wrapper {
      flex-direction: row !important;
  }

  .swiper-slide {
     margin: 5px 5px !important;
  }

  .accordion-button:focus  {
    color:white !important;
    border: none !important;
    box-shadow:none !important;
 }

.accordion-button:not(.collapsed) {
  color:#483F55 !important;
  border: none !important;
}

.LoginRegPage {
  margin-top: -7%;
}

.LoginRegPage .card-body {
   padding-top: 25px !important;
}

}
