button {
  border: none;
  background-color: transparent;
}

.header {
  font-family: "GloriaHallelujah";
  font-size: 20px;
  background-color: rgba(219, 161, 98, 0.25);
  color: #483f55;
  padding: 10px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  max-width: 1815px;
}

.logoTaglineWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.logo {
  margin: 0 auto;
  width: 100%;
  max-width: 185px;
}

.menu {
  flex: 0.5;
  display: flex;
  gap: 30px;
  position: relative;
}

.menuItem {
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  position: relative;
  color: #483F55;
}

.search {
  font-family: "HelveticaNeue";
  font-size: 14px;
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 390px;
  display: flex;
  align-items: center;
}

.inputSearch {
  border: 1px solid transparent;
  box-sizing: border-box;
  background-color: rgba(219, 161, 98, 0.45);
  border-radius: 50px;
  padding: 10px 0px;
  width: 100%;
  position: relative;
  display: inline-block;
  padding: 10px 10px;
  color: #483f55;
}

.inputSearch:focus {
  border-color: #dba162;
  outline: 0;
}

.iconNew {
  position: absolute;
  right: 10px;
  top: 4px;
  border: none;
  background-color: transparent;
  color: #483f55;
}

.logRegNew {
  display: flex;
  flex: 0.5;
  gap: 15px;
  align-items: center;
  justify-content: flex-end;
}

.logRegNew button {
  border: none;
  background-color: transparent;
  color: #483f55;
  padding: 0px;
}

.tagline {
  font-size: 16px;
  color: #483f55;
  margin-top: -10px;
}

.dropdown {
  background-color: #DBA162;
  padding: 15px 15px;
  border-radius: 5px;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 5px;
  top: 35px;
  left: 0;
  width: 300px;
  color: #483f55;

  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  z-index: 10;
}

.aboutMenu {
  color: #483f55;
}

.aboutMenuItem:hover + .dropdown,
.dropdown:hover,
.catalogueMenuItem:hover + .catalogueDropdown,
.catalogueDropdown:hover {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.catalogueDropdown {
  position: absolute;
  top: 35px;
  left: 0;
  background-color: #dba162;
  padding: 15px 25px;
  border-radius: 10px;
  max-width: 350px;
  width: 350px;
  z-index: 10;

  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.logoTag {
  width: 30px;
}

.logoTagSubcategory svg {
  width: 50px;
}

.category {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0px;
  width: 100%;
  max-width: 300px;
  position: relative;
}

.category a {
  color: #483f55;
}

.categoryPath {
  display: flex;
  gap: 5px;
  align-items: center;
}

.category:hover {
  background-color: rgba(82, 23, 18, 0.25);
  border-radius: 5px;
  color: white;
}

.category:hover .categoryPath {
  color: white;
}

.arrow {
  fill: #483f55;
}

.subcategories {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  width: 100%;
  min-width: 400px;

  background-color: #dba162;
  padding: 10px 15px;
  border-radius: 5px;
  z-index: 1000;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.category:hover .subcategories {
  display: block;
}

.category {
  position: relative;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.categoryPath {
  display: flex;
  gap: 5px;
  align-items: center;
}


.subcategories a {
  color: #483f55;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 3px;
  transition: background-color 0.3s ease;
}

.subcategories a:hover {
  background-color: #dba162;
  color: white;
}

.aboutMenu {
  display: flex;
  gap: 5px;
  align-items: center;
}

.aboutMenu:hover {
  color: white;
  background-color: #B97F4E;
  border-radius: 3px;

}

.subcategoryItem {
  display: flex;
  gap: 5px;
  align-items: center;
}

.subcategoryItem:hover .subcategoryItem svg {
  fill: white;
}

.headerNewBtns {
  display: flex;
  justify-content: flex-end;
  gap: 25px;
  align-items: center;
  width: 100%;
  max-width: 200px;
}

.user_cart {
  gap: 25px;
}

.btnsLogReg {
   display: flex;
   gap: 10px;
}

.mobile {
   display: none;
}

@media (max-width: 1025px) {
  .header {
    padding: 10px 25px;
 }
  .headerWrapper {
    align-items: baseline;
  }
    .menu {
      flex-direction: column;
      justify-content: baseline;
      gap: 0px;
    }

    .menu button {
      display: flex;
      padding: 0px 0px;
    }

    .logRegNew {
      flex: 1;
    }
    .desktop {
      display: none;
   }

   .tagline {
     width: 100%;
     max-width: 200px;
     text-align: center;
   }

   .btnContactSidebar {
     padding: 16px 20px;
     font-family: "GloriaHallelujah";
     background-color: rgba(219, 161, 98, 0.25) !important;
     width: 100%;
     text-align: start;
   }

   .btnContactSidebar:focus {
     background-color: #B97F4E;
   }
}


@media (max-width: 575px) {
  .desktop {
     display: none;
  }

  .header {
     padding: 10px 25px;
  }

  .headerWrapper {
     flex-direction: column;
     align-items: center;
  }

  .logo {
     max-width: 100px;
  }

  .tagline {
     font-size: 12px;
     margin-top: -5px;
     max-width: 250px;
  }

  .logRegNew {
    width: 100%;
    max-width: 350px;
    justify-content: center;
    flex-direction: row;
  }

  .logoTaglineWrapper {
     margin-bottom: 10px;
  }

  .search {
     font-size: 10px;
     max-width: 235px;
     margin-left: 15px;
  }

  .inputSearch {
    padding: 5px 5px;
  }

  .iconNew i {
     font-size: 14px !important;
  }

  .offcanvasMenu {
    background-color: #DBA162;
  }

  .headerAccordion {
     background-color: transparent;
     gap: 10px !important;
  }

  .headerAccordion .accordionHeader {
    margin-top: 0px !important;
  }
  
  .accordionHeader button, .accordionBody {
    background-color: rgba(219, 161, 98, 0.25) !important;
  }

  .accordionHeader{
    font-family: "GloriaHallelujah";
    color:#483F55;
  }

  .offcanvasTitle {
    font-family: "GloriaHallelujah";
    color:#483F55;

  }

  .aboutMenu:hover {
    padding: 5px 20px 5px 5px;
    background-color: #DBA162;
  }

  .user_cart {
    gap: 0px;
}

.headerNewBtns {
  gap: 0px;
  max-width: 70px;
  justify-content: center;
}

.Avtbox {
  width: 40px;
  height: 40px;
  background-size: cover;
  font-size: 1rem;
}

}
