.wrapper {
    position: relative;
    white-space: nowrap;
    padding: 0;
    will-change: transform;
    display:flex;
    gap: 10px;
    margin-right: 10px;
  }

@media (max-width: 480px) {
  .wrapper {
    font-size: 14px;
  }
}