.managementAprroval_alert {
    position: absolute;
    top:-150px;
    background-color: #073474;
    color:white;
    z-index: 99;
    opacity: 0.9;
}

@media (max-width: 1025px) {
    .email-cart-btn {
        padding-right: 0px;
    }
}