.adminCartDetailsPageWrapper {
  background-color: rgba(219, 161, 98, 0.25);
  padding: 50px 100px 300px 100px;
}

.title {
  font-family: "GloriaHallelujah";
  color: #483f55;
  margin-bottom: 50px;
  text-decoration: underline;
}

.adminCartItem {
  background-color: rgba(219, 161, 98, 0.25);
}

.orderDetailsPageWrapper {
  color: #483f55;
  background-color: rgba(219, 161, 98, 0.25);
  padding: 50px 100px 350px 100px;
}

.btnGoToOrders {
  padding: 5px 5px;
}

.btnGoToOrders a {
  color: #521712;
  font-size: 18px;
  font-weight: bold;
  text-decoration: underline;
  cursor: pointer;
}

.btnGoToOrders:hover a {
  color: #dba162;
}

.btnRedColor {
  background-color: #521712 !important;
  color: white !important;
  border: 1px solid transparent !important;
}

.btnRedColor:hover {
  background-color: white !important;
  color: #521712 !important;
  border: 1px solid #521712 !important;
}

.btnGreenColor {
  background-color: #999a47 !important;
  color: white !important;
  border: 1px solid transparent !important;
}

.btnGreenColor:hover {
  background-color: white !important;
  color: #999a47 !important;
  border: 1px solid #999a47 !important;
}

.tableSpacing {
  border-spacing: 0 5px;
  border-collapse: separate;
}

.tableSpacing tbody {
  border-radius: 20px;
  padding: 5px 5px;
}

.adminProductsWrapper {
  padding: 100px 50px 350px 25px;
  display: flex;
  gap: 25px;
  justify-content: center;
}

.editDeliveryBookWrapper {
  padding-bottom: 350px;
}

.labelErrors {
  color: #c72618;
  font-size: 12px;
  cursor: pointer;
}

@media (max-width: 1120px) {
  .orderDetailsPageWrapper {
    padding: 25px 25px 250px 25px;
  }

.adminOrderDetailLeftPart {
  width: 100% !important;
  font-size: 14px;
}

  .adminOrderDetailContentWrapper {
    display: flex;
    flex-direction: column;
    padding-bottom: 100px;
    margin: 0 auto !important;
    width: 100% !important;
  }

  .adminOrderDetailRightPart {
    width: 100%;
  }

  .adminProductsWrapper {
    display: flex;
    flex-direction: column;
    font-size: 12px;
    padding: 25px 25px 350px 25px;
  }

  .adminProductsContent {
     width: 100% !important;
  }

  .adminDirectoryWrapper {
    display: flex;
    flex-direction: column;
  }

  .adminDirectoryContent {
     width: 100%;
  }

  .adminCartDetailsPageWrapper {
    background-color: rgba(219, 161, 98, 0.25);
    padding: 25px 25px 300px 25px;
  }
}
